<section>
    <div class="col-11 col-xs-8 col-sm-11 col-md-11 col-lg-11">
        <div class="carta">
            <div class="p-2">
                <div>
                    <button class="btn btn-dark m-2" data-bs-toggle="modal" *ngIf="isLogged" data-bs-target="#myModalAddSkill"
                        style="float:right;">AGREGAR</button>
                </div>
                <h1>Hard & Soft Skills</h1>
            </div>
            <div class="card">
                <div class="container-contenido mb-2" *ngFor="let item of misHabilidades, let indice=index">
            <div>
                <h6>{{item.tituloSkills}}</h6>
                <h6>{{item.imgSkills}}</h6>
                <h6>{{item.porcentaje}}</h6>
                
            </div>
           <div class="botones">
                 <div>
                    <button type="button" class="btn btn-primary" *ngIf="isLogged" data-bs-toggle="modal"
                       data-bs-target="#myModalEditSkill" (click)="findSkills(indice)"> EDITAR</button>
                        </div>
                    <div><button class="btn btn-danger"  data-bs-toggle="modal"
                       data-bs-target="#myModalDeleteSkill"
                           (click)="findSkills(indice)" *ngIf="isLogged">ELIMINAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal" id="myModalEditSkill">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Editar Habilidad</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form [formGroup]="formHabilidades" (ngSubmit)="editSkills(skillsId)">
                    <div class="mb-3 mt-3">
                        <label for="tituloSkills" class="form-label">Titulo</label>
                        <input class="form-control" placeholder="Ingrese el titulo de la habilidad"
                            name="tituloSkills" formControlName="tituloSkills" [ngModel]="tituloSkillsSelect">
                    </div>
                    <div class="mb-3">
                        <label for="imgSkills" class="form-label">Fecha</label>
                        <input class="form-control" placeholder="Ingrese la imágen" name="imgSkills"
                            formControlName="imgSkills" [ngModel]="imgSkillsSelect">
                    </div>
                    <div class="mb-3">
                        <label for="porcentaje"class="form-label">Porcentaje</label>
                        <input class="form-control"  placeholder="Ingrese porcentaje"
                            formControlName="porcentaje" name="porcentaje" [ngModel]="porcentajeSelect">
                    </div>
                    <button type="submit" class="btn btn-primary">OK</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>

<!-------------------------------------AGREGAR-------------------------------------------->

<div class="modal" id="myModalAddSkill">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Agregar una Habilidad</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form [formGroup]="formHabilidades" (ngSubmit)="addSkills(skillsId)">
                    <div class="mb-3 mt-3">
                        <label for="tituloSkills" class="form-label">Titulo</label>
                        <input class="form-control"  placeholder="Ingrese el titulo de la habilidad"
                            name="tituloEdu" formControlName="tituloSkills" [ngModel]="tituloSkillsSelect">
                    </div>
                    <div class="mb-3">
                        <label for="imgSkills" class="form-label">Imagen</label>
                        <input class="form-control"  placeholder="Ingrese la imagen" name="imgSkills"
                            formControlName="imgSkills" [ngModel]="imgSkillsSelect">
                    </div>

                    <div class="mb-3 mt-3">
                        <label for="porcentaje" class="form-label">Porcentaje</label>
                        <input class="form-control"  placeholder="Ingrese descripción"
                            formControlName="porcentaje" name="descripcionEdu" [ngModel]="porcentajeSelect">
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>

<!-----------------------------------------ELIMINAR------------------------------------------>

<div class="modal" id="myModalDeleteSkill">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"> Eliminar Habilidad? </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form [formGroup]="formHabilidades" (ngSubmit)="deleteSkills(skillsId)">
                    <h4>{{tituloSkillsSelect}}</h4>
                    <button type="submit" class="btn btn-primary">Eliminar</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>
    