<section>
    <div class="col-11 col-xs-8 col-sm-11 col-md-11 col-lg-11">
        <div class="carta">
            <div class="p-2">
                <div>
                    <button class="btn btn-dark m-2" data-bs-toggle="modal" *ngIf="isLogged" data-bs-target="#myModalAddEducation"
                        style="float:right;">AGREGAR</button>
                </div>
                <h1>Educación</h1>
            </div>
            <div class="card">
                <div class="container-contenido mb-2" *ngFor="let item of misEducaciones, let indice=index">
            <div>
                <h5>{{item.tituloEdu}}</h5>
                <h6>{{item.fechaEdu}}</h6>
                <h6>{{item.descripcionEdu}}</h6>
                <div class="col-5 col-sm-2 col-md-2 col-lg-1"> 
                    <img src={{item.imgEdu}}  alt="imagenEducacion" class="img-fluid rounded imgEdu">
                    </div>
            </div>
           <div class="botones">
                 <div>
                    <button type="button" class="btn btn-primary m-1" *ngIf="isLogged" data-bs-toggle="modal"
                       data-bs-target="#myModalEditEducation" (click)="findEducation(indice)"> EDITAR</button>
                        </div>
                    <div>
                        <button class="btn btn-danger m-1"  data-bs-toggle="modal"
                       data-bs-target="#myModalDeleteEducation"
                           (click)="findEducation(indice)" *ngIf="isLogged">ELIMINAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-----------------------------------EDITAR--------------------------------------------->
<div class="modal" id="myModalEditEducation">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Editar educación</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form [formGroup]="formEducaciones" (ngSubmit)="editEducation(auxId)">
                    <div class="mb-3 mt-3">
                        <label for="tituloEdu" class="form-label">Titulo</label>
                        <input class="form-control" placeholder="Ingrese el titulo de la educación"
                            name="tituloEdu" formControlName="tituloEdu" [ngModel]="tituloEduSelect">
                    </div>
                    <div class="mb-3">
                        <label for="fechaEdu" class="form-label">Fecha</label>
                        <input class="form-control" placeholder="Ingrese la fecha" name="fechaEdu"
                            formControlName="fechaEdu" [ngModel]="fechaEduSelect">
                    </div>
                    <div class="mb-3">
                        <label for="descripcionEdu" class="form-label">Descripción</label>
                        <input class="form-control"  placeholder="Ingrese descripción"
                            formControlName="descripcionEdu" name="descripcionEdu" [ngModel]="descripcionEduSelect">
                    </div>
                    <div class="mb-3">
                        <label for="imgEdu" class="form-label">Img de la educacion</label>
                        <input class="form-control" placeholder="Ingrese url"
                            formControlName="imgEdu" name="imgEdu" [ngModel]="imgEduSelect">
                    </div>
                    <button type="submit" class="btn btn-primary">OK</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>

<!-------------------------------------AGREGAR-------------------------------------------->

<div class="modal" id="myModalAddEducation">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Agregar una Educación</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form [formGroup]="formEducaciones" (ngSubmit)="addEducation(auxId)">
                    <div class="mb-3 mt-3">
                        <label for="tituloEdu" class="form-label">Titulo</label>
                        <input class="form-control" id="tituloEdu" placeholder="Ingrese el titulo de la educación"
                            name="tituloEdu" formControlName="tituloEdu" [ngModel]="tituloEduSelect">
                    </div>
                    <div class="mb-3">
                        <label for="fechaEdu" class="form-label">Fecha</label>
                        <input class="form-control" id="fechaEdu" placeholder="Ingrese la fecha" name="fechaEdu"
                            formControlName="fechaEdu" [ngModel]="fechaEduSelect">
                    </div>

                    <div class="mb-3 mt-3">
                        <label for="descripcionEdu" class="form-label">Descripción</label>
                        <input class="form-control" id="descripcionEdu" placeholder="Ingrese descripción"
                            formControlName="descripcionEdu" name="descripcionEdu" [ngModel]="descripcionEduSelect">
                    </div>
                    <div class="mb-3">
                        <label for="imgEdu" class="form-label">Img de la educacion</label>
                        <input class="form-control" placeholder="Ingrese url"
                            formControlName="imgEdu" name="imgEdu" [ngModel]="imgEduSelect">
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>

<!-----------------------------------------ELIMINAR------------------------------------------>

<div class="modal" id="myModalDeleteEducation">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"> Eliminar Educación? </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form [formGroup]="formEducaciones" (ngSubmit)="deleteEducation(auxId)">
                    <h4>{{tituloEduSelect}}</h4>
                    <button type="submit" class="btn btn-primary">Eliminar</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>
    
