.fondo {
  background-image: url(/assets/image/rosarito.jpg);
  background-size: cover;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  }