<nav class="navegador bg-primary">
        <img src="assets/image/logo-ap.png" height="100%">
        <div class="flotar-derecha">
                <a href="https://www.instagram.com/bbelamour/" class="redes fa fa-instagram"></a>
                <a href="https://github.com/bbelamour" class="redes fa fa-github-square"></a>
                <a href="https://www.linkedin.com/in/belenalvarezgardiol/" class="redes fa fa-linkedin-square" aria-hidden="true"></a>
                <a href="https://wa.me/5493416883395" class="redes fa fa-whatsapp"></a>
                <a href="login.html" class="btn">Login</a>
        </div>
</nav>