<section>
<div class="col-11 col-xs-8 col-sm-11 col-md-11 col-lg-11">
    
 <div class="card">
    <div class="container-contenido mb-2" *ngFor="let item of miPersona, let indice=index">
<div class="pie-foto">
    <h2>{{item.nombre}}</h2> 
    <h2>{{item.apellido}}</h2>
    <h6>{{item.residencia}}</h6>
    <h6>{{item.acercaDeMi}}</h6>
    <p class="m-1" style="display:inline-block;">Contact me!</p><a href="mailto:belenalvarezgardiol@gmail.com">{{item.infoContacto}}</a>
    
</div>

    <div class="botones">
        <button type="button" class="btn btn-primary"  *ngIf="isLogged" data-bs-toggle="modal"
           data-bs-target="#myModalEditPerson" (click)="findPerson(indice)">EDITAR</button>
    </div>
</div>
</div>
</div>


</section>
<!-----------------------------------EDITAR--------------------------------------------->
<div class="modal" id="myModalEditPerson">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Editar</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form [formGroup]="formPersona" (ngSubmit)="editPerson(perId)">
                    <div class="mb-3 mt-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input class="form-control" id="nombre" placeholder="Ingrese el titulo de la experiencia"
                            name="nombre" formControlName="nombre" [ngModel]="nombrePerSelect">
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input class="form-control" id="apellido" placeholder="Ingrese la fecha" name="apellido"
                            formControlName="apellido" [ngModel]="apellidoPerSelect">
                    </div>
                    <div class="mb-3">
                        <label for="residencia" class="form-label"> Lugar de Residencia</label>
                        <input class="form-control" id="residencia" placeholder="Ingrese su lugar de residencia"
                            formControlName="residencia" name="residencia" [ngModel]="residenciaPerSelect">
                    </div>
                    <div class="mb-3">
                        <label for="infoContacto" class="form-label">Información de contacto</label>
                        <input class="form-control" id="infoContacto" placeholder="Ingrese su información de contacto"
                            formControlName="infoContacto" name="infoContacto" [ngModel]="infoContactoPerSelect">
                    </div>
                    <div class="mb-3">
                        <label for="acercaDeMi" class="form-label">Acerca de mi</label>
                        <input class="form-control" id="acercaDeMi" placeholder="Info acerca de ti"
                            formControlName="acercaDeMi" name="acercaDeMi" [ngModel]="acercaDeMiPerSelect">
                    </div>
                    <button type="submit" class="btn btn-primary">OK</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>