

.card {
  position:relative;
  width: 70%;
  margin-top: -130px;
  margin-left: 250px;
  background-color: rgba(143, 23, 123, 0.733);
  color: white;
  border-radius: 20px 18px  ;
  border: 2px solid rgb(103, 6, 86);
}

.container-contenido {
  display: block;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  text-overflow: clip;


}

.botones {
  display: flex;
  justify-content: flex-end;
  
  
}

  .pie-foto { 
    position: relative;
    z-index: 1;
    margin: 25px;
  }

  a {
    color:rgb(143, 170, 214)
    
  }
  
  h2{
    display: inline-block;
    padding: 2px;
  }
  
  @media (max-width: 600px) {
    .card {
      display: block;
      position: relative;
      margin-top: -30px;
      margin-left: 18px;
      width: 100%;
      text-align: center;

    }


  }